#app, .app {
  height: 100%;
}

h1 {
  color: red;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-bar {
  position: absolute;
}

.app-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: floralwhite;
}