.paintings .active{
  background: rgba(0, 0, 0, 0.098) !important;
}

.control {
  position: absolute;

  &.save {
    top: 5px;
    left: 20px;
    border: none;
  }

  &.tools {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50px;
    padding: 20px 10px;

    .tool {
      padding: 5px;
      cursor: pointer;
    }

    .active a{
      color: darkorange;
    }
  }

  &.paintings {
    width: 100px;
    top: 30px;
    left: 20px;

    .active a{
      color: darkorange;
    }
  }

  &.output {
    bottom: 10px;
    left: 20px;
  }

  &.layouts {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    padding: 20px 10px;

    .layout {
      display: flex;
      padding: 5px 0 5px 10px;

      .layout-name {
        flex: 1;
      }
    }

    .layout-name {
      color: rgb(158, 158, 158);
    }

    .active .layout-name{
      color: rgb(244, 67, 54);
    }

    .add-layout {
      padding: 5px 0;

      a {
        color: #0b97c4;
      }
    }
  }

  &.locked {
    display: none;
  }

  .control-header {
    background-color: $header-color;
    text-align: center;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
  }

  .control-body {
    padding: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
  }
}