.controls {
  position: absolute;
  top: 0;
  left: 0;
}

.control {
  position: absolute;
  border: 1px solid $header-color;

  &.save {
    top: 5px;
    left: 20px;
    border: none;
  }

  &.tools {
    width: 100px;
    top: 30px;
    right: 20px;

    .active a{
      color: darkorange;
    }
  }

  &.paintings {
    width: 100px;
    top: 30px;
    left: 20px;

    .active a{
      color: darkorange;
    }
  }

  &.output {
    width: 80%;
    bottom: 30px;
    left: -40%;
    margin-left: 50%;
  }

  &.layouts {
    width: 100px;
    top: 150px;
    right: 20px;

    .active a{
      color: darkorange;
    }
  }

  &.locked {
    display: none;
  }

  .control-header {
    background-color: $header-color;
    text-align: center;
    font-size: 10px;
    height: 14px;
    line-height: 14px;
  }

  .control-body {
    padding: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;
  }
}