//@import 'normalize';

@import 'variables';
@import 'app';
@import 'auth';
@import 'controls';
@import 'paint-area';

html, body {
  height: 100%;
  margin: 0;
  paddin: 0;
}

body {
  color: $font-color;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $font-color;
}
