@import 'normalize';

@import 'variables';
@import 'app';
@import 'controls';
@import 'paint-area';

html, body {
  height: 100%;
}

body {
  color: $font-color;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $font-color;
}
